::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #B8D0EB;
}

main {
    height: 100vh;
}

h2 {
    font-size: 8vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h3 {
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

hr {
    width: 35%;
}

p {
    font-size: 1.5vh;
}

.bold {
    font-weight: bold;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
}

section {
    display: flex;
    flex-wrap: wrap;
    scroll-snap-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

section:nth-child(even) {
    background-color: #B298DC;
    z-index: 5;
}

.section-third {
    flex: 1;
    text-align: right;
}

.section-content {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 90%;
}

@media only screen and (orientation: portrait) {
    .section-third, .section-content {
        flex: 100%;
        text-align: center;
    }
    .section-third {
        height: 25vh;
    }
    .section-content {
        height: 75vh;
    }
}

/*START Header*/

.top-banner {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.top-banner-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: seashell;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 100%;
}

#hello {
    font-size: 12vh;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

#greeting {
    font-size: 3vh;
}

#water {
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*END Header*/

/*START Navbar*/

nav {
    display: flex;
    align-items: center;
    font-family: serif;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 1vw;
    height: 6vh;
    font-size: 2vh;
    width: inherit;
    background-color: hsla(0, 0%, 50%, 0.8);
    z-index: 1;
    border-radius: 3rem 0 0 3rem
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    transition: 0.2s;
}

nav ul li a:link {
    color: seashell;
    text-decoration: none;
}

nav ul li a:visited {
    color: seashell;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.25);
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

/*END Navbar*/

/*START Bio*/

.bio-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-container img {
    border-radius: 50%;
    height: 20vh;
    box-shadow: -1rem 0.5rem 1rem 0.5rem grey;
    margin-bottom: 1.5rem;
}

.bio-container-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-container-text-left {
    flex: 40%;
    text-align: right;
    margin-right: 20px;
}

.bio-container-text-right {
    flex: 40%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1em;
}

/*END Bio*/

/*START Projects*/

.projects-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto auto;
    grid-auto-flow: row dense;
    grid-gap: 1rem;
    height: 80%;
    width: 70%;
}

.projects-container a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.projects-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: -0.25rem 0.125rem 1rem 0.1rem grey;
    border-radius: 5px;
    margin: 5px auto;
    width: 100%;
}

.projects-container-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
    color: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 1024px) {
    .projects-container-item-content:hover {
        opacity: 0.85;
        color: rgba(255, 255, 255, 0.9);
    }
}

@media only screen and (orientation: portrait), only screen and (max-width: 1024px) {
    .projects-container-item-content {
        opacity: 0.85;
        color: rgba(255, 255, 255, 0.9);
    }
}

.featured {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    background-image: url("../images/featured-horiseon.jpg");
    background-size: cover;
}

/*END Projects*/